.front-page {
    .orbit {
        padding: 30px 0 15px;
        
        .orbit-container {
            .orbit-slide {
                .card {
                    border-radius: 10px;
                }
                .card-section {
                    background-color: white;
                }
            }
        }
    }
}